<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RGEVS</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">

  <!------ Include the above in your HEAD tag ---------->
  <!-- Include the above in your HEAD tag -->
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container">

      <form class="form-inline" style="width: 30%; margin: 10px auto;" action="/poll" method="POST">
        <input class="form-control mr-sm-2" type="text" placeholder="Enter The Name Of The Poll" name="poll">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Create a Poll</button>
      </form>
    </div>


    </div>
  </nav>