<%- include ('../partials/header'); -%>

<!--<style>
   .vertical-divider {
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 50%;
      margin: 0;
      padding: 0;
      width: auto;
      height: 30%;
      line-height: 0;
      text-align: center;
      text-transform: uppercase;
      transform: translateX(-50%);
   }

   .vertical-divider:before,
   .vertical-divider:after {
      position: absolute;
      left: 50%;
      content: '';
      z-index: 9;
      border-left: 1px solid rgba(34, 36, 38, .15);
      border-right: 1px solid rgba(255, 255, 255, .1);
      width: 0;
      height: calc(100% - 1rem);
   }

   .row-divided>.vertical-divider {
      height: calc(50% - 1rem);
   }

   .vertical-divider:before {
      top: -100%;
   }

   .vertical-divider:after {
      top: auto;
      bottom: 0;
   }

   @charset "utf-8";


   @import url //maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);



   div.main {
      background: #0264d6;
      /* Old browsers */
      background: -moz-radial-gradient(center, ellipse cover, #0264d6 1%, #1c2b5a 100%);
      /* FF3.6+ */
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%, #0264d6), color-stop(100%, #1c2b5a));
      /* Chrome,Safari4+ */
      background: -webk<script src="cd.js"></script>
it-radial-gradient(center, ellipse cover, #0264d6 1%, #1c2b5a 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-radial-gradient(center, ellipse cover, #0264d6 1%, #1c2b5a 100%);
      /* Opera 12+ */
      background: -ms-radial-gradient(center, ellipse cover, #0264d6 1%, #1c2b5a 100%);
      /* IE10+ */
      background: radial-gradient(ellipse at center, #0264d6 1%, #1c2b5a 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0264d6', endColorstr='#1c2b5a', GradientType=1);
      /* IE6-9 fallback on horizontal gradient */
      height: calc(100vh);
      width: 100%;
   }

   [class*="fontawesome-"]:before {
      font-family: 'FontAwesome', sans-serif;
   }

   /* ---------- GENERAL ---------- */

   * {
      box-sizing: border-box;
      margin: 0px auto;

      &:before,
      &:after {
         box-sizing: border-box;
      }

   }

   body {

      color: #606468;
      font: 87.5%/1.5em 'Open Sans', sans-serif;
      margin: 0;
   }

   a {
      color: #eee;
      text-decoration: none;
   }

   a:hover {
      text-decoration: underline;
   }

   input {
      border: none;
      font-family: 'Open Sans', Arial, sans-serif;
      font-size: 14px;
      line-height: 1.5em;
      padding: 0;
      -webkit-appearance: none;
   }

   p {
      line-height: 1.5em;
   }

   .clearfix {
      *zoom: 1;

      &:before,
      &:after {
         content: ' ';
         display: table;
      }

      &:after {
         clear: both;
      }

   }

   .container {
      left: 50%;
      position: fixed;
      top: 50%;
      transform: translate(-50%, -50%);
   }

   /* ---------- LOGIN ---------- */

   #login form {
      width: 250px;
      height: 150%;
   }

   #login,
   .logo {
      display: inline-block;
      width: 40%;
   }

   #login {
      border-right: 1px solid #fff;
      padding-bottom: 100px 200px;
      width: 59%;

   }

   .logo {
      color: #fff;
      font-size: 60px;
      line-height: 350px;
   }

   #login form span.fa {
      background-color: #fff;
      border-radius: 3px 0px 0px 3px;
      color: #000;
      display: block;
      float: left;
      height: 50px;
      font-size: 24px;
      line-height: 50px;
      text-align: center;
      width: 50px;
   }

   #login form input {
      height: 50px;
   }

   fieldset {
      padding: 0;
      border: 0;
      margin: 0;

   }

   #login form input[type="text"],
   input[type="password"],
   input[type="email"],
   input[type="number"] {
      background-color: #fff;
      border-radius: 0px 3px 3px 0px;
      color: #000;
      margin-bottom: 1em;
      padding: 0 16px;
      width: 200px;
   }

   #login form input[type="submit"] {
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background-color: #000000;
      color: #eee;
      font-weight: bold;
      /* margin-bottom: 2em; */
      text-transform: uppercase;
      padding: 5px 10px;
      height: 30px;
   }

   #login form input[type="submit"]:hover {
      background-color: #d44179;
   }

   #login>p {
      text-align: center;
   }

   #login>p span {
      padding-left: 5px;
   }

   .middle {
      display: flex;
      width: 600px;
   }

   .nav-text {
      font-size: 170%;
      color: #0264d6
   }

   .nav-text1 {
      font-size: 170%;
      color: #0264d6;
   }

   .nav-text2 {
      font-size: 100%;
      color: #0264d6;
   }
</style>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<div class="main">


   <div class="container">
      <center>
         <div class="middle">
            
            <div id="login">

               <fieldset class="clearfix">

                   <div class="logo"><a href="/voterSignUp">Voter</a></div>

               </fieldset>
            </div>

            <div class="logo"><a href="/schoolSignUp">School</a></div>

         </div>

   </div>
   </center>
</div>
</div>-->
<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');

@media (min-width: 500px) {
  .col-sm-6 {
    width: 50%;
  }
}
html, body {
  height: 100%;
  min-height: 18em;
}

.frontend-side {
  background-image: url("https://arc-anglerfish-arc2-prod-spectator.s3.amazonaws.com/public/AGD7Q2RTXVHIHBZFEBWXK77GOY.png");
}

.uiux-side {
  background-image: url("https://cdn.dribbble.com/users/1010151/screenshots/6145420/women.gif");
}

.split-pane {
  padding-top: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50%;
  min-height: 9em;
  font-size: 2em;
  color: white;
  font-family: 'Open Sans', sans-serif;
	font-weight:300;
;
}
@media(min-width: 500px) {
  .split-pane {
    padding-top: 2em;
    height: 100%;
  }
}
.split-pane > div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
.split-pane > div .text-content {
  line-height: 1.6em;
  margin-bottom: 1em;
}
.split-pane > div .text-content .big {
  font-size: 2em;
}
.split-pane > div img {
  height: 1.3em;
}
@media (max-width: 500px) {
  .split-pane > div img {
    display:none;
  }
}
.split-pane button, .split-pane a.button {
  font-family: 'Open Sans', sans-serif;
	font-weight:800;
  background: none;
  border: 1px solid white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 15em;
  padding: 0.7em;
  font-size: 0.5em;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-decoration: none;
  color: white;
  display: inline-block;
	cursor: pointer;
}
.split-pane button:hover, .split-pane a.button:hover {
  text-decoration: none;
  background-color: white;
  border-color: white;
	cursor: pointer;
}
.uiux-side.split-pane button:hover, .split-pane a.button:hover {
  color: violet;
}
.frontend-side.split-pane button:hover, .split-pane a.button:hover {
  color: blue;
}

#split-pane-or {
  font-size: 2em;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 925px) {
  #split-pane-or {
    top:15%;
  }
}
#split-pane-or > div img {
  height: 2.5em;
}
@media (max-width: 500px) {
  #split-pane-or {
    position: absolute;
    top: 50px;
  }
  #split-pane-or > div img {
    height:2em;
  }
}
@media(min-width: 500px) {
  #split-pane-or {
    font-size: 3em;
  }
}
.big {
  font-size: 2em;
}

#slogan {
  position: absolute;
  width: 100%;
  z-index: 100;
  text-align: center;
  vertical-align: baseline;
  top: 0.5em;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
}
@media(min-width: 500px) {
  #slogan {
    top: 5%;
    font-size: 1.8em;
  }
}
#slogan img {
  height: 0.7em;
}
.bold {
	text-transform:uppercase;
}
.big {
	font-weight:800;
}
</style>

<div class='split-pane col-xs-12 col-sm-6 uiux-side'>
   <div>
     <!--<img src='https://arc-anglerfish-arc2-prod-spectator.s3.amazonaws.com/public/AGD7Q2RTXVHIHBZFEBWXK77GOY.png'>-->
     <div class='text-content'>
       <div class="bold">You want to</div>
       <div class='big'>Vote</div>
     </div>
     <a class='button' href='/voterSignup'>
       VOTE
    </a>
   </div>
 </div>
 <div class='split-pane col-xs-12 col-sm-6 frontend-side'>
   <div>
     <!--<img src='../picture.jpg'>-->
     <div class='text-content'>
       <div class="bold">You want to</div>
       <div class='big'>Create a Poll</div>
     </div>
     <a class='button' href='/schoolSignup'>
        CREATE A POLL
     </a>
   </div>
 </div>
 <div id='split-pane-or'>
   <div>
     <img src="/../../internet/1.png" >
   </div>
 </div>
<%- include ('../partials/footer'); -%>