<%- include ('../partials/header'); -%>
<form action="/test" method="POST">
    <input type="checkbox" name="house[]" value="h">
    <input type="checkbox" name="house[]" value="ho">
    <input type="checkbox" name="house[]" value="hou">
    <input type="checkbox" name="house[]" value="hous">
    <input type="checkbox" name="house[]" value="house">
    <input type="radio" name="post[]" value="captain">
    <input type="radio" name="post[]" value="vicecaptain">
    <input type="radio" name="post[]" value="headcaptain">
    <input type="radio" name="post[]" value="headboy">
    <input type="radio" name="post[]" value="headgirl">
    <input type="submit">

</form>
<%- include ('../partials/footer'); -%>